@font-face {
  font-family: "Gotham Narrow";
  src: local("GothamNarrSSm-Light"),
    url("https://cdn.tollbrothers.com/fonts/gotham/woff2/GothamNarrSSm-Light_Web.woff2") format("woff2"),
    url("https://cdn.tollbrothers.com/fonts/gotham/woff/GothamNarrSSm-Light_Web.woff") format("woff");
  font-weight: 200 400;
  font-style: normal;
  font-display: swap;
}
